<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GOL_Monraz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <GOL_Monraz.Properties.Settings>
            <setting name="backColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="universeSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="timeInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="universeWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="universeHeight" serializeAs="String">
                <value>10</value>
            </setting>
        </GOL_Monraz.Properties.Settings>
    </userSettings>
</configuration>
